# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Conda environment files
*.conda
*.ipynb_checkpoints

# Environment for Conda
env/
.conda/

# MacOS
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Visual Studio Code
.vscode/

# PyCharm
.idea/

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# Coverage reports
htmlcov/
.tox/
.nox/
coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytype/

# Logs and local files
*.log
*.sqlite
*.bak
*.swp


